body{
color:aliceblue;
background:black;
}

section {
    background: rgb(1, 52, 52, 1);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;

}